services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: billing_app
    volumes:
      - ./:/var/www
    working_dir: /var/www
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: billing_nginx
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: billing_db
    ports:
      - "3307:3306"
    environment:
      MYSQL_DATABASE: billing_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: billing_user
      MYSQL_PASSWORD: billing_pass
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:

networks:
  billing-network:
    external: true
